html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.padre{
    color: white;
    font-size: 30px;
    justify-content: center;
    height: 100vh;
    
}

div{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 25vh;
    
}

.padre > div{

    height: auto;
    width: 33.33vw;
}

#div1{background-color: red;}
#div2{background-color: blue;}
#div3{background-color: orange;}
#div4{background-color: yellow;}
#div5{background-color: green;}
#div6{background-color: brown;}
#div7{background-color: grey;}
#div8{background-color: mediumaquamarine;}
#div9{background-color: darkblue;}
#div10{background-color: greenyellow;}