body{
    background-color: #f6ddcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.menu{
    margin: 0px;
    padding: 0px;
}

.menudcha{
    float: top;
    width: auto;

}

.txt{
    margin-left: 4px;
}

.cuadros{
    background-color: #95a5a6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin: 4px;
    list-style: none;
    margin: 4px;
    padding: 2px;
}

.wrapper{
    overflow: auto;
}

@media screen and (min-width: 480px) {
    .menudcha{float: right; width: 200px;}
    .txt{margin-right: 200px;}

}

@media print {
    body{background-color: white; font-family: 'Times New Roman', Times, serif;}
    .menu{display: none;}
}