*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    background: url(fondo.jpg); 
    background-size: cover;
    background-repeat:repeat;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    background: url(header.jpg);
    height: 70px;
    width: 100%;
    background-size: cover;
    background-repeat:repeat;
    position:absolute;
    margin-top: -765px;
}
.titu {
    text-align: center;
    font-size: 220%;
    color: rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
}
#carrito {
    float: left;
    cursor: pointer;
    width: 80px;
}
button>img {
    width: 62px;
}

#menucarrito{
    width: 0%;
    height: 100%;
    opacity:90%;
    display: flex;
    margin-top: 12%;
    background-color: darkgray;
    justify-content: start;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    transition: width 1s;

}
/*
#menucarrito>.producto{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}*/


#container {
    background-color: white;
    border-radius: 18px;
    width: 1200px;
    height: 160%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50%;
    box-shadow: 5px 5px 60px;
}

#container>.producto {
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
div > img {
    width: auto;
    height:50%;
}

p {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.precios{
    color: red;
    font-weight: bold;
    font-size: large;
}

.cantidad{
    width: 100%;
    height: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.botones{
    width: 6%;
    height:fit-content;
    margin: 5px;
    cursor:pointer;
}